body{
    max-width: 960px;
    margin: 0;
    padding: 0;
}
#site-header{
    font-family: 'Lacquer', sans-serif ;
    background-color: #2A88AD;
}
.container{
    box-sizing: border-box;
    max-width: 960;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    }
    
.dark {
    background-color: #fff;
       
}
.light {
    background-color: #fff;
    box-shadow: black;
}
input[type="tel"]{
    text-align: center;
    justify-items: center;
    background: #F8F8F8;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	border-radius: 6px;
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.33);
	padding: 8px;
	border: 2px solid #fff;
    font: 14px 'Raleway', 'serif';
    
} 

input[type="button"]{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 6px;
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 20px 'Raleway',serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}
input[type="button"]:hover {
	background: #2A6881;
}
button{
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 20px 'Raleway',serif;
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;}

#game-title, p{
    font-family: 'raleway', sans-serif;
}